<div class="full" id="love"></div>
<div class="full we_loved_section">
  
  <div class="container">
    <h1>{{ settings.testi_heading }}</h1>
    <p class="love_prag">{{ settings.testi_conet_text }}</p>
    <section class="center slider">
      <div>
        <div class="full love_imge">
          <div class="col-xs-4 no-padding"> 
            {%- if settings.testi_img1_1 -%}
            <img src="{{ settings.testi_img1_1 | img_url: 'original' }}" alt="{{ block.settings.testi_h1_1 }}" />
            {%- else -%} 
            <img src="https://cdn.shopify.com/s/files/1/0272/3014/2602/files/71_1024x1024_4bfc955d-e6d4-4e07-83fe-0119f3f2a0eb_1024x1024.jpg?v=1575874274" alt="{{ block.settings.testi_h1_1 }}" />
            
            {%- endif -%} 
          </div>
          <div class="col-xs-8">
            <h3> {{ settings.testi_h1_1 }}</h3>
            <ul>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
        <div class="full love_text">
          <h2>{{ settings.testi_h1_sub_1 }}</h2>
          <p>{{ settings.testi_c1_1 }}</p>
        </div>
      </div>
      
      <div>
        <div class="full love_imge">
          <div class="col-xs-4 no-padding"> 
            
            {%- if settings.testi_img1_2 -%}
            <img src="{{ settings.testi_img1_2 | img_url: 'original' }}" alt="{{ block.settings.testi_h1_2 }}" />
            
            {%- else -%} 
            <img src="https://cdn.shopify.com/s/files/1/0272/3014/2602/files/66_1024x1024_70afe62c-0ac0-4b09-8585-f9b12a192b89_1024x1024.jpg?v=1575874291" alt="{{ block.settings.testi_h1_2 }}" />
            
            {%- endif -%} 
            
          </div>
          <div class="col-xs-8">
            <h3> {{ settings.testi_h1_2 }}</h3>
            <ul>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
        <div class="full love_text">
          <h2>{{ settings.testi_h1_sub_2 }}</h2>
          <p>{{ settings.testi_c1_2 }}</p>
        </div>
      </div>
      
           <div>
        <div class="full love_imge">
          <div class="col-xs-4 no-padding"> 
            {%- if settings.testi_img1_3 -%}
            <img src="{{ settings.testi_img1_3 | img_url: 'original' }}" alt="{{ block.settings.testi_h1_3 }}" />
            
            {%- else -%} 
            <img src="https://cdn.shopify.com/s/files/1/0272/3014/2602/files/64_1024x1024_d84f0dcf-c305-40d4-b39d-6f8ea9886960_1024x1024.jpg?v=1575874309" alt="{{ block.settings.testi_h1_3 }}" />
            
        
            {%- endif -%}
          
          </div>
          <div class="col-xs-8">
            <h3> {{ settings.testi_h1_3 }}</h3>
            <ul>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
        <div class="full love_text">
          <h2>{{ settings.testi_h1_sub_3 }}</h2>
          <p>{{ settings.testi_c1_3 }}</p>
        </div>
      </div>
           <div>
        <div class="full love_imge">
          <div class="col-xs-4 no-padding">{%- if settings.testi_img1_4 -%} 
            
            <img src="{{ settings.testi_img1_4 | img_url: 'original' }}" alt="{{ block.settings.testi_h1_4 }}" /> 
                {%- else -%} 
            <img src="https://cdn.shopify.com/s/files/1/0272/3014/2602/files/31_1024x1024_ae9fb53c-6401-4195-86c5-ea622e970362_1024x1024.jpg?v=1575874337" alt="{{ block.settings.testi_h1_4 }}" />
    
            
            {%- endif -%}</div>
          <div class="col-xs-8">
            <h3> {{ settings.testi_h1_4 }}</h3>
            <ul>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
        <div class="full love_text">
          <h2>{{ settings.testi_h1_sub_4 }}</h2>
          <p>{{ settings.testi_c1_4 }}</p>
        </div>
      </div>
           <div>
        <div class="full love_imge">
          <div class="col-xs-4 no-padding"> {%- if settings.testi_img1_5 -%}<img src="{{ settings.testi_img1_5 | img_url: 'original' }}" alt="{{ block.settings.testi_h1_5 }}" />
               {%- else -%} 
            <img src="https://cdn.shopify.com/s/files/1/0272/3014/2602/files/78_1024x1024_13f370be-8ad4-4784-b467-21fcfa7e2b5c_1024x1024.jpg?v=1575874323" alt="{{ block.settings.testi_h1_4 }}" />
    
            
            {%- endif -%}
            
            </div>
          <div class="col-xs-8">
            <h3> {{ settings.testi_h1_5 }}</h3>
            <ul>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
        <div class="full love_text">
          <h2>{{ settings.testi_h1_sub_5 }}</h2>
          <p>{{ settings.testi_c1_5 }}</p>
        </div>
      </div>
      
    </section>
    
    <a class="more_love_section" href="{{ settings.love_button_Link }}">{{ settings.love_button_text }} <i class="fa fa-arrow-right"></i></a>
    
  </div>
</div>
<style>
  .we_loved_section {background:{{ settings.testi_bng_color }};}
  .we_loved_section h1 {color:{{ settings.testi_heading_color }};}
  .we_loved_section p {color:{{ settings.testi_conet_text_color }};}
  .love_text h2 {color:{{ settings.slide_fist_headin_color }};}
  
  .love_imge h3 {color:{{ settings.slide_fist_headin_color }};}
  .love_imge ul li i {color:{{ settings.slide_star_color }};}
  .love_text h2 {color:{{ settings.slide_second_headin_color }};}
  .love_text p {color:{{ settings.slide_content_color }};}
  
  
  
  a.more_love_section {
    color: {{ settings.love_button_text_color }};
    background: {{ settings.love_button_bg_color }};
    border-color:{{ settings.love_button_border_color }};

}

a.more_love_section:hover {
    color:{{ settings.love_button_text_color_hover }};
    background: {{ settings.love_button_bg_color_hover }};
    border-color: {{ settings.love_button_border_color_hover }};
}


</style>