<!--Slider-End-->
 {%- assign collection = collections[section.settings.collection] -%}
<div class="full product_slider">
  <div class="container">
    <h1>{{ section.settings.colect_title }}</h1>
    <a class="home_showmore" href="{{ section.settings.colect_button_url }}">{{ section.settings.colect_button }}</a>
    <div class="full custom_slider">
      <div class="owl-carousel owl-theme">
        
         {% for product in collection.products %}
        
        
        <div class="item">
          <div class="full product_image"> <a href="{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.title }}" /></a> </div>
          <div class="full pro_title">
            <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
            <span>{{ product.price | money }} </span> </div>
        </div>
        
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Product Slider",
    "settings": [
      
       {
        "id": "colect_title",
        "type": "text",
        "label": "Heading"
      },

      {
        "id": "colect_title_color",
        "type": "color",
        "label": "Heading Color"
      },

      {
        "id": "colect_button",
        "type": "text",
        "label": "Button Text"
      },

      {
        "id": "colect_button_url",
        "type": "url",
        "label": "Button Url"
      },
       
       


       {
        "id": "collection",
        "type": "collection",
        "label": "Select Collection"
      }
	
    ],
"presets": [
    {
      "name": "Product Slider",
      "category":"Product Slider"
    }
  ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}