 <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
{% if settings.home_featured_product == blank %}
    {% assign product = all_products.first %}
{% else %}
    {% assign product = all_products[ settings.home_featured_product ] %}
{% endif %}

<div class="full"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>


{%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}



<div class="full product_main_page">
  

 <div class="full par_main_page"> 
  <div class="container">
    <div class="col-sm-6">
          <div class="col-xs-12">
            <div id="carousel-main" class="carousel slide" {% if settings.enable_autoplay %} data-ride="carousel" {% endif %} data-interval="5000">
                <!-- Carousel items -->
                <div class="carousel-inner">
                   {% for image in product.images %}
                    <div class="item">
                        <img src="{{ image | img_url: 'original' }}"  class="img-responsive">
                    </div>
                   {% endfor %}
                    
                </div>


           
            </div>
            
             <div class="full">
            <div id="carousel-pager" class="carousel slide " data-ride="carousel" data-interval="500000000">
                <!-- Carousel items -->
                <div class="carousel-inner thunb_sliders">
                    {% for image in product.images %}
                  {% assign sham = 0 %}
                    <div class="item">
                      
                        <img src="{{ image | img_url: 'original' }}" data-target="#carousel-main"  data-slide-to="{% increment sham %}" class="img-responsive">
                    </div>
                   {% endfor %}
                    
                </div>
                
               <!-- Controls -->
                <a class="left carousel-control" href="#carousel-pager" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-pager" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              
               
            
            </div>
        </div>
        </div>
<script>
  
  
  
 $(document).ready(function(){
  
  $('.thunb_sliders img').click(function() {
  $(this).addClass('border_active').siblings().removeClass('border_active');
 });
   });
  
      $(document).ready(function(){
        $('#carousel-main .item:first').addClass("active");
         $('#carousel-pager .item:first').addClass("active");
      
      })
      
    </script>
       
    </div>
    
     <div class="col-sm-6 product_content_section">
       <h2 class="p_title full">{{ product.title }}</h2>
      <div class="full product_review_p">
       <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
       </div>
       <div class="full p_price">
         <span>  {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}</span>
        
          {% unless product.compare_at_price == blank %}
         <span class="save_date">You save {{ product.compare_at_price | minus: product.price |money}}
({{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max }}%)</span>
         
       {% endunless %}   
         
       </div>

       
        {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            {% unless product.has_only_default_variant %}
              <div class="product-form__controls-group full">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__controls-group full">
                <div class="product-form__item">
                  <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity-{{ section.id }}"
                    name="quantity" value="1" min="1" pattern="[0-9]*"
                    class="product-form__input product-form__input--quantity" data-quantity-input
                  >
                </div>
              </div>
            {% endif %}

            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}" data-error-message-wrapper role="alert">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>

             <div class="full add_to_art">
              
                <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{{ settings.add_to_cart_text }}"
                 
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              
            </div>
          {% endform %}
       
       
         {%- if settings.trust_banner -%}
       <div class="full truat_badg">
         <img src="{{ settings.trust_banner | img_url: 'original' }}" alt="" />
       </div>
      {%- else -%}
       <div class="full truat_badg">
         <img src="https://cdn.shopify.com/s/files/1/0272/3014/2602/files/payment_03_1024x1024_1df4552b-e573-4b4d-ad9e-0f540fd65cde_1024x1024.jpg?v=1575874394" alt="" />
       </div>
       {%- endif -%}
       
       {%- if settings.enable_delivery -%}
       <div class="full ship_area">
         
         {%- if settings.enable_ship_head -%}
         <h3 class="full">{{ settings.develry_heading }} </h3>
         {%- endif -%}
         {%- if settings.enable_sub_head -%}
         <span class="full">{{ settings.deliver_content }}</span>
         {%- endif -%}
         
         
         
         {% assign total=0 %}
{%for variant in product.variants %}
{% capture i %}{{ total | plus:variant.inventory_quantity }}{%endcapture%}
{% assign total = i %}
{%endfor%}
         
         {%- if settings.enable_stock -%}
         <h5 class="full"> {{ settings.stock_heading_before }} <strong>{{ total }} </strong> {{ settings.stock_heading_after }} </h5>
         {%- endif -%}
         {%- if settings.enable_vistor -%}
         <p style="display:block !mportant" class="full count_er product_extras_list"> {{ settings.watcking_emoji }} <strong><font class="random_extra"  data-extratype="random" data-extrafrequency="25" data-extrafrom="198" data-extrato="245">{{ settings.watcking_number }}</font></strong> {{ settings.watcking_text_after }} </p>
          {%- endif -%}
       </div>
        {%- endif -%}
        <script src="https://d25euzqev2e9fd.cloudfront.net/scripts/sniper.js?v=0.06" async></script>
       
<script>
function random(min,max)
{
    return Math.floor(Math.random()*(221-1+1)+min);
}

var initial = random(1, 221);
var count = initial;

setInterval(function() {
  var variation = random(-5,5);

  count += variation
  $("#counterrr").html(count)

}, 20000)

</script>
       <div class="full product_new_desp">
         {{ product.description }}
       </div>
       
          <div class="full product-review_app">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
       </div>
       
      
       
    </div>
    
  </div>
  
  </div>
  
  
  </div>
  
</div>



{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



{% if settings.enable_faq_product_page %}
<div class="full product_faq_page">
  {% section 'faq' %}
</div>

{% endif %}








<script>
  
  
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 50) {
        $(".sticky_add_to_cart").addClass("open_sticky");
    } else {
        $(".sticky_add_to_cart").removeClass("open_sticky");
    }
});
  
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 100) {
        $(".new_timer").addClass("open_timer");
    } else {
        $(".new_timer").removeClass("open_timer");
    }
});
  

$('.carousel .thunb_sliders .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}
    
    next.children(':first-child').clone().appendTo($(this));
  }
  

  
});
</script>

<style>
  
  
  .product_content_section h2.p_title {color:{{ settings.product_title_color }};}
  .p_price span {color:{{ settings.product_sale_price_color }};}
  .p_price .price-item--regular {color:{{ settings.product_regular_price_color }};}
  .p_price span.save_date {color:{{ settings.save_text_color }};}
  
  .add_to_art button {    color: {{ settings.add_to_cart_text_color }};
    background-color: {{ settings.add_to_cart_button_bg }};}
  .add_to_art button:hover {color: {{ settings.add_to_cart_text_color_on_hover }};
    background-color:{{ settings.add_to_cart_text_color_bg_hover }};}
  
  .ship_area {
    background:{{ settings.del_bg_color }};
  
  }
  .ship_area h3 {
    color: {{ settings.develry_heading_color }};
  }
  
  .ship_area span {  
  
    color: {{ settings.ship_conent_color }};
    
  }
  
  .left_add_to_cart h2 {color: {{ settings.sticky_title_color }};}
  
  .right_add_to_cart button {background-color: {{ settings.stciky_addto_bg_color }}; color:{{ settings.stciky_addto_text_color }};}
   .right_add_to_cart button:hover {background-color:{{ settings.stciky_addto_bg_color_hover }} ; color:{{ settings.stciky_addto_text_color_hover }};}
  
  .spr-icon-star, .spr-icon-star-half-alt {color: {{ settings.review_star_color }};}
  .date_time_product {background:{{ settings.coun_down_bg }};}
  .date_time_product p {color:{{ settings.coun_down_text_color }};}
  .date_time_product #countdown {color:{{ settings.coun_down_date_color }};}
  
  .product_new_desp h4 {color:{{ settings.desp_headin_clr }};}
  
  
  
  .product_new_desp h2, .product_new_desp h1, .product_new_desp h3, .product_new_desp h5 {color:{{ settings.desp_headin_clr_main }};}
  
  .product_new_desp strong, .product_new_desp b {color:{{ settings.desp_headin_bold }};}
  .product_new_desp ul li:before {color:{{ settings.desp_headin_tick }};}
  
  
  
  
.carousel-inner.thunb_sliders {
  height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}

  
  

@media all and (transform-3d),
(-webkit-transform-3d) {
  
  .carousel-inner.thunb_sliders .item.next,
  .carousel-inner.thunb_sliders .item.active.right {
    -webkit-transform: translate3d(33%);
     transform: translate3d(33%);
  }
  .carousel-inner.thunb_sliders .item.prev,
  .carousel-inner.thunb_sliders .item.active.left {
     -webkit-transform: translate3d(-33%);
     transform: translate3d(-33%);
  }
  
  
  
  
  .carousel-inner.thunb_sliders .item.next.left,
  .carousel-inner.thunb_sliders .item.prev.right,
  .carousel-inner.thunb_sliders .item.active {
    -webkit-transform: translate3d(0);
     transform: translate3d(0);
  }
}




#carousel-pager .carousel-control.left {
    color: #000;
    right: initial;
    left: -260px;
}
#carousel-pager .carousel-control.right {
 
    color: #000;
    left: initial;
    right: -260px;
}
  #carousel-pager .carousel-control.left span {left:250px;}
  #carousel-pager .carousel-control.right span {right:250px;}
  .carousel-control {background-image: none !important;}
  #carousel-pager img{    margin: 10px 0;
    cursor: pointer;
    width: 25%;
    float: left;
    padding:10px; 
  border: 2px solid transparent;
    
  }
  #carousel-pager {margin-top: 15px;}
  #carousel-pager img.border_active { border: 2px solid #242729;}
  .product_extras_list {display:block !important;}
 
</style>



<style>
  .spr-icon-star, .spr-icon-star-half-alt, .spr-badge-starrating .spr-icon {
    color:{{ settings.rev_stars_color }};
}

  .product-review_app h2.spr-header-title {color: {{ settings.rev_main_color }};}
  
  .product-review_app input[type="submit"] {    color: {{ settings.button_text_color_review }};
    background-color: {{ settings.button_bg_color_review }};}
  
   .product-review_app input[type="hover"] {    color: {{ settings.button_text_color_review_hover }};
    background-color: {{ settings.button_bg_color_review_hover }};}
</style>

