<div class="full page_margin_sect">

<div class="full free_heading faqq_heading">
  <div class="container">
    <h1>{{ page.title }}</h1>
   
  </div>

</div>
  
  <div class="full shipping_info_page">
<div class="cont_container">
  
  <div class="full shiping_page_content default_page_content">
     {{ page.content }}
    
  </div>
  
  
  
  </div>
  </div>

</div>


<style>

  
  
  .shiping_page_content strong, .shiping_page_content strong {color:{{ settings.shipping_bold_text_color }}};
  .shiping_page_content p {color:{{ settings.shipping_content_color }}};
  .shiping_page_content a {color:{{ settings.shipping_bold_text_link_color }}};
</style>